@import 'tailwindcss';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';


body {
        background-image: url('{{ asset('assets/image.png') }}');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }


